body{
  background-color: $main-background;
}

#container{
  width: 70%;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
  margin: 10% auto;
  text-align: center;
}

#answer{
  font-size: 25px;
}
