#container{
  width: 50%;
  border-radius: 5px;
  padding: 10px;
  background-color: blue;
  margin: 10% auto;
  text-align: center;
}

#letters{
  color:white;
  background-color: darkgrey;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;

}